.calendar_container {
    width: 85%;
    height: 100vh;
    padding: 20px;
}

/* External events styling */
#external-events {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#external-events p {
    color: #333;
    margin-bottom: 15px;
}

.external-event {
    border-radius: 5px;
    width: 90%;
    color: black;
    font-weight: 500;
    user-select: none;
}

.external-event:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: grab;
}

.external-event:active {
    cursor: grabbing;
    transform: scale(0.95);
}

.fc{
    height: 90%;
}

.fc-event-main-frame {
    font-weight: 500;
    color: black;
}