.app_header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    background-color: var(--primary-color);
    padding: 0 20px;
    gap:50%
}